/* Central Image */
body {
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 50vw;
  object-fit: cover;
  border-radius: 0px;
}

header {
  position: absolute;
  top: 100px;
  left: 910px;
  width: 729px;
  height: 71px;
  font-family: Epilogue; /* Heading */
  font-size: 48px;
  font-weight: bold;
  line-height: 68px;
  color: #171a1fff; /* neutral-900 */
}

/* Textbox 1 */
.textbox {
  position: absolute;
  top: 250px;
  left: 910px;
  opacity: 1;
}
.textbox input {
  width: 729px;
  height: 52px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Inter; /* Body */
  font-size: 18px;
  background: #ffffffff; /* white */
  border-radius: 4px; /* border-m */
  border-width: 1px;
  border-color: #9095a0ff; /* neutral-500 */
  outline: none;
}
.textbox label {
  font-size: 25px;
  line-height: 28px;
  font-weight: bold;
}
/* focused */
.textbox input:focused {
  color: #bcc1caff; /* neutral-400 */
  background: #ffffffff; /* white */
  border-color: #9095a0ff; /* neutral-500 */
}
/* disabled */
.textbox input:disabled {
  color: #bcc1caff; /* neutral-400 */
  background: #ffffffff; /* white */
  border-color: #9095a0ff; /* neutral-500 */
}
.textbox :disabled + .icon,
.textbox :disabled + .icon + .icon {
  fill: #171a1fff; /* neutral-900 */
}

/* Textbox 2 */
.textbox2 {
  position: absolute;
  top: 380px;
  left: 910px;
  opacity: 1;
}
.textbox2 input {
  width: 729px;
  height: 52px;
  padding-left: 20px;
  padding-right: 52px;
  font-family: Inter; /* Body */
  font-size: 18px;
  background: #ffffffff; /* white */
  border-radius: 4px; /* border-m */
  border-width: 1px;
  border-color: #9095a0ff; /* neutral-500 */
  outline: none;
}
.textbox2 svg {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  fill: #171a1fff; /* neutral-900 */
}
.textbox2 label {
  font-size: 25px;
  line-height: 28px;
  font-weight: bold;
}

/* focused */
.textbox input:focused {
  color: #bcc1caff; /* neutral-400 */
  background: #ffffffff; /* white */
  border-color: #9095a0ff; /* neutral-500 */
}
/* disabled */
.textbox input:disabled {
  color: #bcc1caff; /* neutral-400 */
  background: #ffffffff; /* white */
  border-color: #9095a0ff; /* neutral-500 */
}
.textbox :disabled + .icon,
.textbox :disabled + .icon + .icon {
  fill: #171a1fff; /* neutral-900 */
}

/* Button 1 */
.button {
  position: absolute;
  top: 530px;
  left: 910px;
  width: 729px;
  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter; /* Body */
  font-size: 18px;
  line-height: 28px;
  color: #ffffffff; /* white */
  background: #00bdd6ff; /* primary-500 */
  opacity: 1;
  border: none;
  border-radius: 8px; /* border-xl */
}
/* Hover */
.button:hover {
  color: #ffffffff; /* white */
  background: #00a9c0ff; /* primary-550 */
}
/* Pressed */
.button:hover:active {
  color: #ffffffff; /* white */
  background: #0095a9ff; /* primary-600 */
}
/* Disabled */
.button:disabled {
  opacity: 0.4;
}

/* Button 2 */
.button2 {
  position: absolute;
  top: 640px;
  left: 910px;
  width: 729px;
  height: 76px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter; /* Body */
  font-size: 18px;
  line-height: 28px;
  color: #ffffffff; /* white */
  background: #335ca6ff;
  opacity: 1;
  border: none;
  border-radius: 8px; /* border-xl */
  gap: 8px;
}
.button2 .icon {
  width: 24px;
  height: 24px;
  fill: #ffffffff; /* white */
}
/* Hover */
.button2:hover {
  color: #ffffffff; /* white */
  background: #2a4c89ff;
}
/* Pressed */
.button2:hover:active {
  color: #ffffffff; /* white */
  background: #213b6bff;
}
/* Disabled */
.button2:disabled {
  opacity: 0.4;
}

/* Text 2 */
.accountManagment {
  position: absolute;
  top: 750px;
  left: 950px;
  width: 630px;
  height: 72px;
  font-family: Inter; /* Body */
  font-size: 24px;
  line-height: 36px;
  color: #171a1fff; /* neutral-900 */
}

.accountManagment p {
  text-align: center;
}
